
# ============================================================================
# PYTHON PACKAGE REQUIREMENTS:
# ============================================================================
# REQUIRES: Python >= 2.7.11
# DESCRIPTION:
#    pip install -r <THIS_FILE>
# SPECIFIC DEPENDENCIES:
#   behave  -- BDD test framework, cucumber-clone for Python.
#   pip install behave
#   requests - HTTP connection module
#   pip install requests 
